{% extends "main/components/base.html" %} 

{% block title %}
    {{ task.title }}

{% endblock %}

{% block content %}
  
<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">title</th>
      <th scope="col">description</th>
      <th scope="col">status</th>
      <th scope="col">priority</th>
      <th scope="col">due_date</th>
      <th scope="col">created_at</th>
      <th scope="col">updated_at</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{task.title}}</td>
      <td>{{task.description}}</td>
      <td>{{task.status}}</td>
      <td>{{task.priority}}</td>
      <td>{{task.due_date}}</td>
      <td>{{task.created_at}}</td>
      <td>{{task.updated_at}}</td>
    </tr>
  </tbody>
</table>

{% endblock  %}  